<div class="game">

    <div class="heading"><h1>Tic Tac Toe</h1></div>

    <div class="Players">
        <div class="player1">
            <h2>PlayerName : 0</h2>
        </div>
        <div class="player2"> 
            <h2>PlayerName : 0</h2>
        </div>
    </div>      
    <div class="startbuttonDiv">
        <button class = "startbutton"  (click)= "start()">S T A R T</button>
    </div>

    <div class="matrix" *ngIf= "started">
        <div class="Block">
            <div class="Grid">
                <div class="gridContent" (click) = "onClick()">                    
                    <div *ngIf= "playerx">
                        <span class = "Icn" >&#10005;</span>
                    </div>  
                    <div *ngIf= "playero">
                        <span class = "Icn" >O</span>
                    </div>                   
                </div>
                <div class="gridContent" (click) = "onClick()">                    
                    <div *ngIf= "playerx">
                        <span class = "Icn" >&#10005;</span>
                    </div>  
                    <div *ngIf= "playero">
                        <span class = "Icn" >O</span>
                    </div>                   
                </div>
                <div class="gridContent" (click) = "onClick()">                    
                    <div *ngIf= "playerx">
                        <span class = "Icn" >&#10005;</span>
                    </div>  
                    <div *ngIf= "playero">
                        <span class = "Icn" >O</span>
                    </div>                   
                </div>
                <div class="gridContent" (click) = "onClick()">                    
                    <div *ngIf= "playerx">
                        <span class = "Icn" >&#10005;</span>
                    </div>  
                    <div *ngIf= "playero">
                        <span class = "Icn" >O</span>
                    </div>                   
                </div>
                <div class="gridContent" (click) = "onClick()">                    
                    <div *ngIf= "playerx">
                        <span class = "Icn" >&#10005;</span>
                    </div>  
                    <div *ngIf= "playero">
                        <span class = "Icn" >O</span>
                    </div>                   
                </div>
                <div class="gridContent" (click) = "onClick()">                    
                    <div *ngIf= "playerx">
                        <span class = "Icn" >&#10005;</span>
                    </div>  
                    <div *ngIf= "playero">
                        <span class = "Icn" >O</span>
                    </div>                   
                </div>
                <div class="gridContent" (click) = "onClick()">                    
                    <div *ngIf= "playerx">
                        <span class = "Icn" >&#10005;</span>
                    </div>  
                    <div *ngIf= "playero">
                        <span class = "Icn" >O</span>
                    </div>                   
                </div>
                <div class="gridContent" (click) = "onClick()">                    
                    <div *ngIf= "playerx">
                        <span class = "Icn" >&#10005;</span>
                    </div>  
                    <div *ngIf= "playero">
                        <span class = "Icn" >O</span>
                    </div>                   
                </div>
                <div class="gridContent" (click) = "onClick()">                    
                    <div *ngIf= "playerx">
                        <span class = "Icn" >&#10005;</span>
                    </div>  
                    <div *ngIf= "playero">
                        <span class = "Icn" >O</span>
                    </div>                   
                </div>
                
            </div>        
        </div>
    </div>  

</div>


