<div class="game">

    <div class="heading"><h1>Tic Tac Toe</h1></div>

    <div class="Players">
        <div class="player1">
            <h2>PlayerName : 0</h2>
        </div>
        <div class="player2"> 
            <h2>PlayerName : 0</h2>
        </div>
    </div>  

    <div class="matrix">
        <div class="Block">
            <div class="Grid">
                <div class="gridContent">
                    <span class = "Icn" >&#10005;1</span>
                </div>
                <div class="gridContent"><span class = "Icn" >&#10005;2</span></div>
                <div class="gridContent"><span class = "Icn" >&#10005;3</span></div>
                <div class="gridContent"><span class = "Icn" >&#10005;4</span></div>
                <div class="gridContent"><span class = "Icn" >&#10005;5</span></div>
                <div class="gridContent"><span class = "Icn" >&#10005;6</span></div>
                <div class="gridContent"><span class = "Icn" >&#10005;7</span></div>
                <div class="gridContent"><span class = "Icn" >&#10005;8</span></div>
                <div class="gridContent"><span class = "Icn" >&#10005; 9</span></div>
            </div>        
        </div>
    </div>  

</div>


