<div class="game">

    <div class="heading"><h1>Tic Tac Toe</h1></div>

    <div class="Players" *ngIf="!stopped">
        <div class="player1">
            <h2>PlayerX <span *ngIf= "!playerx && started && !stopped " class="PlayerTurn"> Turn </span> </h2>
        </div>
        <div class="player2"> 
            <h2>PlayerO <span *ngIf= "playerx && started && !stopped" class="PlayerTurn">Turn</span> </h2>
        </div>                
    </div>    
    <div>
        <h1 *ngIf= "stopped && playerx && !Draw" class="GameStatus"> Player X Won </h1>
        <h1 *ngIf= "stopped && !playerx && !Draw" class="GameStatus"> Player O Won</h1>
        <h1 *ngIf= "stopped && Draw " class="GameStatus"> MATCH DRAW </h1>
    </div>

    <div class="startbuttonDiv">
        <button *ngIf="!started" class = "startbutton"  (click)= "start()"> S T A R T </button>
        <button *ngIf="started" class = "clearButton" (click) = "clear()"> N E W  G A M E </button>
    </div>

    <div class="matrix" *ngIf= "started">
        <div class="Block">
            <div class="Grid">
                <div class="gridContent" (click) = "onClick(0,0)">                    
                    <div *ngIf= "Playerx_Arr[0][0] == 1">
                        <span class = "Icn" >&#10005;</span>
                    </div>  
                    <div *ngIf= "Playero_Arr[0][0] == 1">
                        <span class = "Icn" >O</span>
                    </div>                   
                </div>
                <div class="gridContent" (click) = "onClick(0,1)">                    
                    <div *ngIf= "Playerx_Arr[0][1] == 1">
                        <span class = "Icn" >&#10005;</span>
                    </div>  
                    <div *ngIf= "Playero_Arr[0][1] == 1">
                        <span class = "Icn" >O</span>
                    </div>                   
                </div>
                <div class="gridContent" (click) = "onClick(0,2)">                    
                    <div *ngIf= "Playerx_Arr[0][2] == 1">
                        <span class = "Icn" >&#10005;</span>
                    </div>  
                    <div *ngIf= "Playero_Arr[0][2] == 1">
                        <span class = "Icn" >O</span>
                    </div>                   
                </div>
                <div class="gridContent" (click) = "onClick(1,0)">                    
                    <div *ngIf= "Playerx_Arr[1][0] == 1">
                        <span class = "Icn" >&#10005;</span>
                    </div>  
                    <div *ngIf= "Playero_Arr[1][0] == 1">
                        <span class = "Icn" >O</span>
                    </div>                   
                </div>
                <div class="gridContent" (click) = "onClick(1,1)">                    
                    <div *ngIf= "Playerx_Arr[1][1] == 1">
                        <span class = "Icn" >&#10005;</span>
                    </div>  
                    <div *ngIf= "Playero_Arr[1][1] == 1">
                        <span class = "Icn" >O</span>
                    </div>                   
                </div>
                <div class="gridContent" (click) = "onClick(1,2)">                    
                    <div *ngIf= "Playerx_Arr[1][2] == 1">
                        <span class = "Icn" >&#10005;</span>
                    </div>  
                    <div *ngIf= "Playero_Arr[1][2] == 1">
                        <span class = "Icn" >O</span>
                    </div>                   
                </div>
                <div class="gridContent" (click) = "onClick(2,0)">                    
                    <div *ngIf= "Playerx_Arr[2][0] == 1">
                        <span class = "Icn" >&#10005;</span>
                    </div>  
                    <div *ngIf= "Playero_Arr[2][0] == 1">
                        <span class = "Icn" >O</span>
                    </div>                   
                </div>
                <div class="gridContent" (click) = "onClick(2,1)">                    
                    <div *ngIf= "Playerx_Arr[2][1] == 1">
                        <span class = "Icn" >&#10005;</span>
                    </div>  
                    <div *ngIf= "Playero_Arr[2][1] == 1">
                        <span class = "Icn" >O</span>
                    </div>                   
                </div>
                <div class="gridContent" (click) = "onClick(2,2)">                    
                    <div *ngIf= "Playerx_Arr[2][2] == 1">
                        <span class = "Icn" >&#10005;</span>
                    </div>  
                    <div *ngIf= "Playero_Arr[2][2] == 1">
                        <span class = "Icn" >O</span>
                    </div>                   
                </div>
                
            </div>        
        </div>
    </div> 
    
    

</div>


